<h2>Lista de Funcionários</h2>

@if (funcionarios.length > 0) {
  <div>
    <ul>
      @for (funcionario of funcionarios; track funcionario) {
        <li>
          <strong>{{ funcionario.pessoa.nome }}</strong><br />
          CPF: {{ funcionario.pessoa.cpf }}<br />
          Cargo: {{ funcionario.cargo }}<br />
          Salário: R$ {{ funcionario.salario | number:'1.2-2' }}<br />
          Data de Contratação: {{ funcionario.dataContratacao | date:'dd/MM/yyyy' }}<br />
          Endereço: {{ funcionario.pessoa.endereco.logradouro }},
          {{ funcionario.pessoa.endereco.numero }} -
          {{ funcionario.pessoa.endereco.bairro }},
          {{ funcionario.pessoa.endereco.cidade }} - {{ funcionario.pessoa.endereco.estado }}<br />
        </li>
      }
    </ul>
  </div>
}

@if (funcionarios.length === 0) {
  <div>
    <p>Nenhum funcionário encontrado.</p>
  </div>
}

@if (totalPages > 1) {
  <div>
    @if (currentPage > 1) {
      <button (click)="changePage(currentPage - 1)">Página Anterior</button>
    }
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    @if (currentPage < totalPages) {
      <button (click)="changePage(currentPage + 1)">Próxima Página</button>
    }
  </div>
}
