<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="MkCréditoApp" styleClass="p-button-text p-button-lg" routerLink="/"></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <!-- Espaço central, se necessário -->
  </div>

  <div class="p-toolbar-group-end">
    <p-button label="Pessoas" styleClass="p-button-text" routerLink="/pessoas" routerLinkActive="p-button-outlined"></p-button>
    <p-button label="Clientes (Exemplo)" styleClass="p-button-text" routerLink="/clientes" routerLinkActive="p-button-outlined"></p-button>
    <!-- Adicione outros links de navegação aqui, por exemplo:
    <p-button label="Outro Link" styleClass="p-button-text" routerLink="/outro-link" routerLinkActive="p-button-outlined"></p-button>
    -->
    <i class="pi pi-bars p-toolbar-separator" style="margin: 0 0.5rem;"></i>
    <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-text"></p-button>
  </div>
</p-toolbar>

<div class="container">
  <router-outlet></router-outlet> <!-- O Angular carrega os componentes da rota aqui -->
</div>
