<main class="main">
  <div class="content">
    <p-toolbar>
      <div class="my-toolbar">
        <button pButton type="button" icon="pi pi-home" label="Home"></button>
        <button pButton type="button" icon="pi pi-user" label="Profile"></button>
        <button pButton type="button" icon="pi pi-cog" label="Settings"></button>
      </div>
    </p-toolbar>

  </div>
  <app-funcionarios></app-funcionarios>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
